<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>会员列表</title>

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<h3>当前登录用户：<span th:text="${#authentication.name}"></span> | <a th:href="@{/logout}">退出</a></h3>
<h2>这是会员管理列表页面</h2>
<table class="table">
    <tr>
        <th>姓名</th>
        <th>手机</th>
        <th>邮箱</th>
        <th>性别</th>
        <th>生日</th>
    </tr>

    <tr th:each="user : ${allUsers}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.phoneNum}"></td>
        <th th:text="${user.email}"></th>
        <th th:text="${user.gender}"></th>
        <th th:text="${user.birthDate}"></th>
</table>
</body>
</html>